
.main-card {
    background-color: white;
    display: flex;
    margin-bottom: 1.5vh;
  }
  
  .main-card img{
    height: 12vh;
    display: block;
  }
  
  .main-card h1 {
    font-size: 3vh;
    margin: 0;
  }
  .main-card p{
    font-size: 3vh;
    margin: 0;
  }